<div>
  scan only on chrome on Android(TODO CHECK)
</div>
<button type="button" name="button" id="scanButton">Scan</button>

<script type="text/javascript">

  // Sends the message
  var send_ndef_message = function(message, serialNumber) {
    $.ajax({
      type:'POST',
      url:"<%= save_ndef_message_path_url(@qr_code_link) %>",
      data: { message: message,
              serial_number: serialNumber
            },
      error: function(error) {
        console.log(error);
        // do something
      }
    });
  }
  document.getElementById('scanButton').addEventListener("click", async () => {
    console.log("User clicked scan button");

    try {
      const ndef = new NDEFReader();
      await ndef.scan();
      console.log("> Scan started");

      ndef.addEventListener("readingerror", () => {
        console.log("Cannot read data from the NFC tag. Try another one?");
      });

      ndef.addEventListener("reading", ({ message, serialNumber }) => {
        console.log(`> Serial Number: ${serialNumber}`);
        console.log(`> Records: (${message.records.length})`);
        send_ndef_message(message, serialNumber)
      });
    } catch (error) {
      console.log("Argh! " + error);
    }
  });

</script>
